setuptools
torch
torchvision
numpy
pillow
scikit-learn
imgaug
pandas
matplotlib
jsonlines
boto3~=1.26.0
tqdm
croissant-ml
pytest
argschema
marshmallow
sagemaker
opencv-python-headless
docker
mlflow
protobuf
requests
sqlalchemy
awscli~=1.27.0
