setuptools
torch
torchvision
numpy
pillow
scikit-learn
imgaug
pandas
matplotlib
jsonlines
boto3~=1.26.0
tqdm
croissant-ml
pytest
argschema
marshmallow
sagemaker
opencv-python
docker
mlflow
protobuf
requests
awscli~=1.27.0
