setuptools
torch
torchvision~=0.15.1
numpy
pillow
scikit-learn
pandas
matplotlib
jsonlines
boto3~=1.26.0
tqdm
croissant-ml
pytest
argschema
marshmallow
sagemaker
opencv-python-headless
docker
mlflow
protobuf
requests
sqlalchemy
awscli~=1.27.0
pg8000
ophys_etl_pipelines @ git+https://github.com/AllenInstitute/ophys_etl_pipelines.git@video_classifier
av